{% extends "base.html" %} {% block content %}
<h3 class="text-darken-4 center-align edit-gift-title">Edit Gift</h3>

<div class="row">
  <form class="col s12" method="POST"
    action="{{ url_for('edit_gift', gift_id=gift_item._id) }}">

    <!-- Gift Item (editable input) -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-gifts prefix light-red-text text-darken-4"></i>
        <input
          id="gift_item" name="gift_item" type="text" class="validate" required value="{{ gift_item.gift_item}}">
        <label for="gift_item">Gift Item:</label>
      </div>
    </div>

    <!-- Recipient (editable input) -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-pencil-alt prefix light-red-text text-darken-4"></i>
        <input id="list_name" name="list_name" type="text" class="validate" required value="{{ gift_item.list_name }}">
        <label for="list_name">For:</label>
      </div>
    </div>

    <!-- Cost (editable input) -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fa fa-credit-card prefix light-red-text text-darken-4"></i>
        <input id="cost" name="cost" type="text" class="validate" required value="{{ gift_item.cost }}">
        <label for="cost">Cost:</label>
      </div>
    </div>

    <!-- Where To Buy (editable input) -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-shopping-bag prefix light-red-text text-darken-4"></i>
        <input id="where_to_buy" name="where_to_buy" type="text" class="validate" required value="{{ gift_item.where_to_buy }}">
        <label for="where_to_buy">Where To Buy:</label>
      </div>
    </div>

    <!-- submit button -->
    <div class="row">
      <div class="col s12 center-align">
        <button type="submit" class="btn-large red darken-1 text-shadow">Edit Gift</button>
      </div>
    </div>
  </form>
</div>

<!-- Include the modals partial template -->
{% include "partials/modals.html" %} 

{% endblock %}
