<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All I Want for Christmas</title>
  </head>
  <body>
    {% for gift_list in gift_lists %} {{ gift_list.list_name }}<br />
    {{ gift_list.gift_item }}<br />
    {{ gift_list.where_to_buy }}<br />
    {{ gift_list.cost }}<br />
    {{ gift_list.link }}<br />
    {% endfor %}
  </body>
</html>
