{% extends "base.html" %} {% block content %} {% for gift_list in gift_lists %}
{{ gift_list.list_name }}<br />
{{ gift_list.gift_item }}<br />
{{ gift_list.where_to_buy }}<br />
{{ gift_list.cost }}<br />
{{ gift_list.link }}<br />
{% endfor %}

<ul class="collapsible">
  <li>
    <div class="collapsible-header white-text light-red darken-4 text-shadow">
      <i class="fas fa-caret-down"></i>First
    </div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header white-text light-red darken-4 text-shadow">
      <i class="fas fa-caret-down"></i>Second
    </div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header white-text light-red darken-4 text-shadow">
      <i class="fas fa-caret-down"></i>Third
    </div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
</ul>

{% endblock %}
