{% extends "base.html" %} {% block content %}

<ul class="collapsible">
  {% for gift_list in gift_lists %}
  <li>
    <div class="collapsible-header white-text light-red darken-4 text-shadow">
      <i class="fas fa-caret-down"></i>
      <strong>{{ gift_list.list_name }}</strong>
    </div>
    <div class="collapsible-body">
      <strong>{{ gift_list.gift_item }}</strong>
      <p>{{ gift_list.where_to_buy }}</p>
      <p>{{ gift_list.cost }}</p>
      <p><a>{{ gift_list.link }}</a></p>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
