{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <h3 class="center-align light-green-text text-darken-4">
        {{ username }}'s Christmas Gifts
      </h3>

      <!-- Countdown timer -->
      <div class="center-align">
        <h4>Time Until Christmas:</h4>
        <div id="countdown"></div>
      </div>

      <!-- Running total -->
      <div class="center-align">
        <h4>Gifts to Buy:</h4>
        <div id="running-total"></div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
