{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
        <img src="{{ url_for('static', filename='images/snowcap.png') }}" alt="snowcapped card" class="snowcap-image">
      <h3 class="profile-title">
        {{ user.username }}'s Christmas Gifts
      </h3> 
      </div>
    </div>
  </div>
</div>

<div class="start-adding-gifts">
    <a href="add_gift.html">
        <button type="submit">Start adding your gifts!</button>
    </a>
</div>

<!-- Countdown timer -->
<div class="center-align">
    <h4 class="timer-title">Time Until Christmas:</h4>
    <div id="countdown">
        <div class="countdown-tile">
            <div class="number">{{ days }}</div>
            <div class="text">Days</div>
        </div>
        <div class="countdown-tile">
            <div class="number">{{ hours }}</div>
            <div class="text">Hrs</div>
        </div>
        <div class="countdown-tile">
            <div class="number">{{ minutes }}</div>
            <div class="text">Minutes</div>
        </div>
        <div class="countdown-tile">
            <div class="number">{{ seconds }}</div>
            <div class="text">Seconds</div>
        </div>
    </div>
</div>

<h4>Bought Gifts</h4>
<ul>
    {% for gift in gifts %}
    {% if gift.bought %}
    <li>{{ gift.gift_item }}</li>
    {% endif %}
    {% endfor %}
</ul>


<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
{% endblock %}
