{% extends "base.html" %} {% block content %}

<h1>Welcome to All I Want For Christmas</h1>
<h2>Where you can keep track of your gifts as well as Santa!<h2>

    <!-- login -->
    <h3>Login below to access your existing gift lists</h3>
      <div class="row">
        <a href="{{ url_for('login') }}" class="light-green-text text-darken-4"
        >
        <button
          type="submit"
          class="col s12 btn-large light-green darken-4 text-shadow">
          Log In <i class="fas fa-sign-in-alt"></i>
        </button>
    </a>
      </div>
    </div>
  </form>
</div>

<h3>No account yet? Register here!</h3>
<div class="row">
    <a href="{{ url_for('register') }}" class="light-green-text text-darken-4"
        ><button
          type="submit"
          class="col s12 btn-large light-green darken-4 text-shadow">
          Register <i class="fas fa-sign-in-alt"></i>
        </button>
    </a>
      </div>
    </div>
  </form>
</div>

{% endblock %}