{% extends "base.html" %} {% block content %}

<h1 class="welcome-title">Welcome to <br> All I Want For Christmas</h1>
<h2 class="welcome-description">Where you can keep track of your gifts as well as Santa!<h2>

    <!-- login -->
    <h3 class="welcome-login-text">Login below to access your existing gift lists</h3>
    <div class="row center-buttons">
        <a href="{{ url_for('login') }}">
        <button
          type="submit"
          class="login-button">
          Log In
        </button>
    </a>
      </div>
    </div>
  </form>
</div>

<h3 class="welcome-register-here">No account yet? Register here!</h3>
<div class="row center-buttons">
    <a href="{{ url_for('register') }}"><button
          type="submit"
          class="register-button">
          Register 
        </button>
    </a>
      </div>
    </div>
  </form>
</div>

<!-- Santa Image -->
<img src="/static/images/santa.png" alt="Santa" class="santa-image">

{% endblock %}