{% extends "base.html" %} {% block content %}

<h1 class="welcome-title"><i class="fas fa-holly-berry fa-fade" style="color: red;"></i>Welcome to <br> All I Want For Christmas</h1>
<h2 class="welcome-description">Where you can keep track of your gifts as well as Santa!<h2>

    <!-- login -->
    <h3 class="welcome-login-text">Login below to access your existing gift list!</h3>
    <div class="row center-buttons">
        <a href="{{ url_for('profile_login') }}">
        <button
          type="submit"
          class="login-button light-green darken-1 btn text-shadow">
          Log In
        </button>
    </a>
      </div>
    </div>
  </form>
</div>

<h3 class="welcome-register-here">No account yet? Register here!</h3>
<div class="row center-buttons">
    <a href="{{ url_for('register') }}">
        <button type="submit" class="login-button red darken-1 btn text-shadow">
            Register
        </button>
    </a>
      </div>
    </div>
  </form>
</div>

<!-- Santa Image -->
<img src="/static/images/santa.png" alt="Santa" class="santa-image">

{% endblock %}